body{
    background-color: antiquewhite;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 2em 0 2em;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    text-indent: 2em;
    list-style: none;
    padding-right: 4em;
}
nav ul li a{
    text-decoration: none;
    color: #5f4339;
    font-weight: bold;
    font-size: 1.5em;
}
a:hover{
    color: red;
}
header{
   background-image: url("https://via.placeholder.com/1920x1080.png");
}
header h2{
    text-align: center;
    font-size: large;
}
section{
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc(27.40% - 1em);
    padding: 1em;
    padding: 1.2em 3em 0 3em;
}
section .first-subsection{
    text-align: center;
    box-sizing: content-box;
}
section .first-subsection div #pic{
    display: block;
    border: 4px double black;
    margin-bottom: 1em;
    width: 200px;
    height: 150px;
}
section .second-subsection{
    display: block;
    text-align: center;
    font-size: large;
    padding-top: 0;
    box-sizing: content-box;
}
section .second-subsection #one{
    color: red;
    margin-bottom: 0.5em;
}
section .second-subsection #two{
    color: green;
    margin-bottom: 0.5em;
}
section .second-subsection #three{
    color: purple;
    margin-bottom: 0.5em;
}
section .third-subsection{
    display: block;
    text-align: center;
    padding-top: 1.5em;
    box-sizing: content-box;
}
section .third-subsection #name{
    margin-bottom: 0.7em;
    font-weight: bold;
}
section .third-subsection #email{
    margin-bottom: 0.7em;
    font-weight: bold;
}
section .third-subsection #msg{
    margin-bottom: 0.7em;
    font-weight: bold;
}
footer{
    text-align: center;
    background-color: skyblue;
}

@media screen and (max-width: 100%) {
    nav{
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: row;
        padding: 2em 2em 0 2em;
    }
    section{
        flex-direction: column;
        display: block;
        align-items: center;
    }
    section .first-subsection{
        text-align: center;
        width: 50%;
        height: 50%;
    }
    section .second-subsection{
        text-align: center;
        font-size: large;
        padding-top: 0;
        box-sizing: content-box;
    }
    section .third-subsection{
        display: block;
        flex-direction: column;
        text-align: center;
        padding-top: 1.5em;
        box-sizing: content-box;
    }
}
